---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <figure class="right-0">
            <img 
            class="rounded-lg w-24 md:w-32"
    width={512}
    height={512}
    src="/miguel-alanis-avatar.webp"
    alt="Miguel Alanís"
    decoding="async"
    loading="lazy">
          </figure>
          <h4 class="animate font-semibold text-black dark:text-white">
            Hola, Soy Miguel Alanís<span class="text-xl">👋🏻</span> 
          </h4>

            <p class="animate">Un profesional de la automatización industrial y un eterno estudiante en el fascinante mundo del desarrollo de software. Mi historia es un viaje constante de aprendizaje y evolución, donde la tecnología y la innovación han sido mis fieles compañeras.</p>
            
          <p class="animate">Mi aventura en el universo de la programación comenzó en los pasillos de mi bachillerato técnico. Mientras estudiaba electricidad, descubrí un mundo que me cautivó instantáneamente: el de la programación, las computadoras y los circuitos electrónicos. Fue como si hubiera encontrado un tesoro escondido, y desde ese momento, supe que quería explorarlo a fondo.</p>

          <p class="animate">Esta fascinación me llevó a tomar una decisión que marcaría mi futuro: estudiar Electrónica y Automatización en la universidad. Cada clase, cada proyecto, cada desafío, alimentaba mi curiosidad y fortalecía mi convicción de que había elegido el camino correcto.</p>

          <p class="animate">Mi carrera profesional ha sido un viaje emocionante a través de diversas industrias. Durante 12 años, recorrí el país como técnico de servicio en campo, enfrentando desafíos únicos en cada proyecto. Cada experiencia fue una lección invaluable, enriqueciendo mi conocimiento y habilidades.</p>

          <p class="animate">Ahora, he anclado en un nuevo puerto como especialista en automatización y control en Argos Eléctrica. Este cambio me ha permitido profundizar mis conocimientos y aplicarlos de manera más especializada, sin perder la emoción de enfrentar nuevos retos cada día.</p>

          <p class="animate">A pesar de mi evolución profesional, nunca abandoné mi primer amor: las computadoras y la programación. Como un explorador incansable, he emprendido una nueva aventura, preparándome como desarrollador de software. Después de un año intenso de aprendizaje, siento que es el momento de poner en práctica todo lo adquirido.</p>

          <p class="animate">Es así como nace este proyecto de blog, que veo más como un repositorio vivo de aprendizajes. Si eres un curioso digital como yo, te invito a unirte a esta aventura. Compartamos conocimientos, experiencias y, ¿por qué no?, los desafíos que encontremos en el camino.</p>

          <p class="animate">Este espacio es más que un blog; es una bitácora de descubrimientos, un punto de encuentro para mentes inquietas. Si te apasiona la tecnología, la programación o simplemente tienes curiosidad por el mundo digital, no dudes en contactarme. Me encantaría intercambiar ideas, conocimientos y quizás, inspirarnos mutuamente en nuestros viajes de aprendizaje.</p>

          <p class="animate">Bienvenido a mi mundo. Soy Miguel Alanís, un inquieto digital, y este es mi viaje. ¿Te animas a explorar conmigo?</p>
        </article>
      </section>
      
      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Contactarme
        </h5>
        <article>
          <p>
            Si quieres contactarme sobre algo o simplemente saludarme, hazlo a través de las redes sociales o envíame un correo electrónico.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
